[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "==3.7.8"
coverage = "==4.5.4"
model-bakery = "==1.0.1"
ipython = "==7.8.0"
black = "*"
jupyter-client = "==5.3.4"
jupyter-core = "==4.6.1"

[packages]
django = "==2.2.6"
djangorestframework = "==3.10.3"
django-extensions = "==2.2.5"
dj-database-url = "==0.5.0"
{% if cookiecutter.use_nameko == "y" -%}
nameko = "*"
{%- endif %}
{% if cookiecutter.use_graphql == "y" -%}
graphene-django = "==2.6.0"
django-filter = "==2.2.0"
graphene-federation = "==0.0.3"
{%- endif %}
werkzeug = "==0.16.0"
python-decouple = "==3.1"
Unipath = "*"
"psycopg2-binary" = "==2.8.4"
gunicorn = "==19.9.0"
ipython = "==7.10.0"
ipython-genutils = "==0.2.0"

[requires]
python_version = "{{ cookiecutter.python_version }}"

[pipenv]
allow_prereleases = true
